<p>
  <b>Eqname:</b>
  <%=h @equipment.eqname %>
</p>

<p>
  <b>Prop:</b>
  <%=h @equipment.prop %>
</p>


<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_path %>