<html>
<head>

<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta http-equiv="Expires" content="Tue, 26-Jul-1979 05:00:00 GMT">
</head>
<script src="/javascripts/jquery-1.3.2.js"></script>
<body style="background:transparent;background-color:transparent;height:481px;width:200px;border:0px solid green;">
	<style>
	.row{
		color:#888888;
		width:200px;
		height:39px;
		background: rgba(0, 0, 0, 0.1);
		margin-bottom:2px;
	}
	.rankbg{float:left;}
	.arrow{float:right;width:13px;margin-right:10px;margin-top:8px;}
	.rank_type{float:left;color:#666666;font-size:15pt;margin-top:8px;margin-left:5px;}
	</style>
	<script src="/javascripts/jquery-1.3.2.js"></script>
	<script src="/javascripts/utils.js"> </script>
	<img src='/images/rank.png' style="position:absolute;opacity:0.2;z-index:0;">
	<div id="main" style="position:absolute;z-index:100;left:120px;width:200px;border:0px solid red;">
	<%=params[:type]
	%>
		<!--div style="height:39px">
			风云榜
		</div-->
		<div class="row" id="money">
			<div class='rank_type' >
			<div style="float:left;width:30px;"><img src="/images/gold.png" style="width:20px;margin-top:5px;"/></div>富豪榜
			</div>
			<!--img class='rankbg' src='/images/rank_bg.jpg'/-->
			<img class='arrow' src='/images/arrow_2.png'/>
		</div>
		<div class="row" id="level">
			<div class='rank_type'>
					<div style="float:left;width:30px;"><img src="/images/woodensword_small.png" style="width:20px;margin-top:5px;"/></div>
				高手榜
			</div>
			<!--img class='rankbg' src='/images/rank_bg.jpg'/-->
			<img class='arrow' src='/images/arrow_2.png'/>
		</div>
		<div class="row" id="literature">
			<div class='rank_type'>
				<div style="float:left;width:30px;">	<img src="/images/zhujian6.png" style="width:30px;margin-top:5px;"/></div>
				文豪榜
			</div>
			<!--img class='rankbg' src='/images/rank_bg.jpg'/-->
			<img class='arrow' src='/images/arrow_2.png'/>
		</div>
		<div class="row" id="caoyao">
			<div class='rank_type'>
				<div style="float:left;width:30px;">	<img src="/images/caoyao3.png" style="width:30px;margin-top:-5px;"/></div>
				采药榜
			</div>
			<!--img class='rankbg' src='/images/rank_bg.jpg'/-->
			<img class='arrow' src='/images/arrow_2.png'/>
		</div>
		<div class="row" id="yunbiao">
			<div class='rank_type'>
				<div style="float:left;width:30px;">	<img src="/images/yunbiao.png" style="width:30px;margin-top:-5px;"/></div>
				镖师榜
			</div>
			<!--img class='rankbg' src='/images/rank_bg.jpg'/-->
			<img class='arrow' src='/images/arrow_2.png'/>
		</div>
	</div>
	<div id="waitingbg" style="display:none;z-index:100;position:absolute;left:0;top:0;width:320px;height:480px;">
	<img src="/images/wait3.gif" style="width:50px;margin-left:135px;margin-top:220px;"/>
</div>
</body>
</html>

<script>
 //$().ready(function(){alert("d");});
 //showWaiting(false);
function showWaiting(show){
	
	if (show)
		$("#waitingbg").css("display", "block");
	else
		$("#waitingbg").css("display", "none");	
}
$(".row").click(a);
function a(e){
	// alert(e.currentTarget.id);
		showWaiting(true);
	 	window.location="/rank_"+e.currentTarget.id+".html?t="+new Date().getTime();
	// showWaiting(false);
// alert(	$("#waitingbg").css("display"));
		// showWaiting(true);
		// alert($("#waitingbg"));
}
</script>