<html>
<body style="background-color: transparent; font-size:10pt;font-weight:bold;">
	<div>
	你昨天一共收到300次挑战，胜<span style="color:red"> 100</span>, 负<span style="color:blue">200</span>.
	</div>
	<div>
	你的累计战斗胜率为<span style="color:red">50.00%</span>
	</div>
	<div>
	恭喜你！你获了得<span style="color:brown">一级铁十字勋章</span>和<span style="color:brown">初级剑侠</span>的称号.
	</div>
</body>
</html>