<html>
<body>
	<div id="image">
	<img src="<%=@o.image %>" />
	</div>
	<div id="name" style="margin:5px;color:#888833;font-weight:bold;">
	<%=@o.dname%>
	</div>

	<div id="desc" style="margin:10px">
	<%=@o.desc %>
	</div>
</body>
</html>